Router: {{inventory_hostname}}

Command:show ip interface brief

{{cmd1_output.stdout.0}} 
******************************************************************************************

Command: show ip bgp summary

{{cmd2_output.stdout.0}} 
******************************************************************************************


